.data_form{
    display: flex;
    align-items:center;
}
.example-custom-input{
    border:none;
    background-color:transparent;
    
}
.select-container {
    height: auto;
  }
  .select__control {
    height: 100%;
    cursor: pointer !important;
    border: 2px solid #474759 !important;
    background-color: rgba(56, 56, 71, 1) !important;
    width: 170px;
    border-radius: 0 !important;
  }
  .select__control--is-focused,
  .select__control:hover {
    outline: none;
    border: 2px solid #474759;
    box-shadow: 0px 6px 7px -2px #41a350;
  }
  .select__value-container {
    padding-left: 13px;
  }
  .select__placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: rgba(199, 204, 220, 0.3) !important;
  }
  .select__single-value {
    appearance: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(199, 204, 220, 0.3) !important;
  }
  .select__indicator {
    svg {
      fill: rgba(199, 204, 220, 0.3) !important;
    }
  }
  .select__indicator-separator {
    display: none !important;
  }
  .select__menu {
    background-color: rgba(56, 56, 71, 1) !important;
  }
  .select__option {
    cursor: pointer !important;
    padding: 9px 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 1.16 !important;
    letter-spacing: 0.02em !important;
    color: rgba(199, 204, 220, 0.3) !important;
    background-color: rgba(56, 56, 71, 1) !important;
    border: 0;
    text-align: left;
  }
  .select__option:hover {
    background-color: #474759 !important;
    color: rgba(246, 247, 251, 1) !important;
  }
  .select__option--is-selected {
    background-color: #474759 !important;
    color: rgba(246, 247, 251, 1) !important;
  }
.form {
  display: flex;
  margin: 0 auto;
}
.input_product {
  width: 290px;
  padding: 15px 15px;
  color: rgba(199, 204, 220, 0.5);
  border: 2px solid #474759;
  border-radius: 0;
  border-top-left-radius: 16px;
  background-color: rgba(56, 56, 71, 1);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}
.input_product:hover,
.input_product:focus {
  outline: none;
  border: 2px solid #474759;
  box-shadow: 0px 6px 7px -2px #41a350;
}

.input_calc {
background: url('../../images/calculator.png') no-repeat;
  background-position: right 15% bottom 50%;
  background-size: 20px;
  padding: 12px 37px;
  border-radius: 0 16px 16px 0;
  width: 116px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #c7ccdc;
  border: 2px solid #474759;
  background-color: rgba(56, 56, 71, 1);
}
.input_calc:hover,
.input_calc:focus {
  outline: none;
  box-shadow: 0px 6px 7px -2px #41a350;
}
.btnInput {
  border: 2px solid transparent;
  padding: 16px 48px;
  border-radius: 16px;
  background: #42a652;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #f6f7fb;
  text-align: center;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
.btnInput:hover,
.btnInput:focus {
  box-shadow: 1px 3px 5px rgba(96, 196, 112, 0.35);
  background: #3d944c;
}
.btnClear {
  border-radius: 16px;
  border: 2px solid #474759;
  padding: 16px 48px;
  text-align: center;
  background-color: rgba(56, 56, 71, 1);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #f6f7fb;
  cursor: pointer;
}
.btnClear:hover,
.btnClear:focus {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15);
  background-color: rgb(70, 70, 88);
}
.transaction-form{
    display: flex;
}